@import "tailwindcss";


/* define colors */
:root {
  --background: #ffffff;
  --background-secondary: #000000; 
  --forground: #292A32;
  --primary: #0C098C;
  --secondary: #D73037;
}

@theme inline {
  --font-space-grotesk: var(--space-grotesk);
  --font-syne: var(--syne);
}



.card-shadow {
  position: relative;
  z-index: 1;
}
.card-shadow::after {
  content: "";
  position: absolute;
  top: 16px; /* vertical offset for shadow */
  left: 16px; /* horizontal offset for shadow */
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background: #0000005a;
  z-index: -1;
}
